トップページ
<p><%= link_to "予約", :reservations %></p>


<p><%= link_to "部屋", :rooms %></p>
<p><%= link_to "部屋new", :new_room %></p>

<p><%= link_to "ユーザー一覧（管理者だけ？）", :users %></p>
<p><%= link_to "ユーザー作成", :new_user_registration %></p>
<p><%= link_to "ユーザーログイン", :new_user_session %></p>
<p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>
