<div class ="index-wrapper">
  <h3>部屋一覧</h3>

<table>
<thead>
  <tr>
    <th>部屋id</th>
    <th>登録者id</th>
    <th>部屋名</th>
    <th>部屋紹介</th>
    <th>1泊料金</th>
    <th>住所</th>
    <th>写真</th>
    <th>確認</th>
    <th>編集</th>
    <th>削除</th>
  </tr>
</thead>
  
<tbody>
  <% @rooms.each do |room| %>
    <tr>
      <td><%= room.id %></td>
      <td><%= room.user_id %></td>
      <td><%= room.room_name %></td>
      <td><%= room.room_intro %></td>
      <td><%= room.price %></td>
      <td><%= room.address %></td>
      <td><%= room.room_pic %></td>
      <td>
        <%= link_to "確認", room %>
      </td>
      <td>
        <%= link_to "編集", [:edit, room] %>
      </td>
      <td>
        <%= link_to "削除", room , data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<p><%= link_to "新規登録", :new_room %></p>
<p><%= link_to "トップへ", :root %></p>

</div>