<div class ="index-wrapper">

  <h3>スケジュール詳細</h3>
  
  <table>
    <tr>
      <th>ユーザーID</th>
      <td><%= @room.user_id %></td>
    </tr>
    <tr>
      <th>ルーム名</th>
      <td><%= @room.room_name %></td>
    </tr>
    <tr>
      <th>ルーム紹介</th>
      <td><%= @room.room_intro %></td>
    </tr>
    <tr>
      <th>1泊料金</th>
      <td><%= @room.price %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @room.address %></td>
    </tr>
      <tr>
      <th>ルーム画像</th>
      <td><%= @room.room_pic %></td>
    </tr>
  </table>
  <div>
    <p><%= link_to "この部屋を予約する" %></p>
    <p><%= link_to "部屋一覧に戻る", :rooms %></p>
    <p><%= link_to "この部屋を編集する", [:edit, @room] %></p>
    <p><%= link_to "この部屋を削除する", @room, data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %></p>
  </div>

<%= form_for [@room, @room.reservations.new] do |f| %>

<%= f.hidden_field :room_id, value: @room.id %>
<div>
  <label>借りたい日</label>
  <%= f.text_field :start_date %>
</div>

<div>
  <label>返す日</label>
  <%= f.text_field :end_date %>
</div>

<div>
  <label>人数</label>
  <%= f.text_field :person_num %>
</div>

<div>
  <label>合計金額</label>
  <%= f.text_field :total_price %>
</div>

<%= f.submit "この日程で予約する" %>


<% end %>
